$margen_estandar: 3%;
$padding_estandar: 3%;
*,*::before,*::after,*:before,*:after{
    box-sizing:border-box;
}

aside{
    background-color: aquamarine;
    border-radius: 5px;
    border: solid 1px blue;
    padding: $padding_estandar;
    align-self: flex-start;
    
    div {
        display: flex;
        justify-content: center;
        margin: 1%;
    }
}


figure{
    padding-top: $padding_estandar;
    align-self: center;
    max-width: 50%;
    margin: auto;
}

.flex{
    display: block;
}

   
@media screen and (min-width: 1000px){
    .izq{
        order:-1;
        margin-right: $margen_estandar;
    }
    .der{
        order: 5;
        margin-left: $margen_estandar;
    }
    .flex{
        display: flex;
        justify-content: space-around;
    }
    h2{
        margin-top: 20px;
        margin-bottom: 0px;
    }
    aside{
        iframe{
            width: 100%;
        }
    }
    div{
        >article{
            width: 70%;
        }
    }
}
