*,*::before,*::after,*:before,*:after{
    box-sizing:border-box;
}
.error{
    color:red;
}
figure{
    width: 100%;
    height: 100%;
}
article{
    padding:2%;
  
    margin:3px
}
.autores{
    border:solid 1px grey;
}
section{
    padding: 1%
}
.oculto{
    display:none !important;
}
img{
    padding: 2%;
    width: 100%;
    height:100%;
}
strong{
   font-weight: bold;
}
legend{
    font-weight: bold;
    font-size: 1.5rem;
}
div>label{
    font-weight: bold;
}
.desactivo{
    color:gray;
}
.center{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1%;
}
div>ul, form>ul{
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
}
div>ul>li, form ul li{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
li input{
    margin-left: 1rem;
}
li textarea{
    height: 100%;
    width: 100%;
}
div button:nth-of-type(2){
    margin-left: 5%;
}
li label:nth-of-type(1){
    font-weight: bold;
}
li label:nth-of-type(2){
    margin-left: 1%; 
}

@media screen and (min-width: 580px){
   
    article{
        width: 100%;
        float:left;  
    }
    section{
        display:inline-block;
        width:60%
    }
    figure{ 
        float: right;
        width:30%;
        display:inline-block
    }
    .left{
        float:left
    }
    .right{
        float:right
    }
    
}
